@using TeamHost.Application.DTOs.Friends
@model TeamHost.Application.DTOs.User.UserGetAllResponse

@{
    Layout = Layout;
}


<main class="page-main">

    <!-- Loader-->
    <div id="page-preloader">
        <span class="spinner border-t_second_b border-t_prim_a"></span>
    </div>
    <!-- Loader end-->

    <div class="uk-grid" data-uk-grid>
        <div class="uk-width-2-3@xl">
            <div class="widjet --filters">
                <div class="widjet__head">
                    <h3 class="uk-text-lead">Users</h3>
                </div>

            </div>
            <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid>
                @foreach (var user in Model.Users)
                {
                    var nameToShow = user.FirstName is not null && user.LastName is not null
                        ? $"{user.FirstName} {user.LastName}"
                        : user.UserName;

                    <div>
                        <div class="user-item --active">
                            <div class="user-item__avatar">
                                <img src="~/img/user-list-1.png" alt="user">
                            </div>
                            <div class="user-item__box">
                                <div class="user-item__name">
                                    @nameToShow
                                </div>
                                <div class="user-item__playing">
                                    @if (user.IsFriend)
                                    {
                                        <b>Your friend</b>
                                    }
                                    @if (!user.IsFriend)
                                    {
                                        <p>Not friend</p>
                                    }
                                </div>
                            </div>
                            <div class="user-item__more">
                                @if (!user.IsFriend)
                                {
                                    <form
                                        method="post"
                                        asp-controller="Friends"
                                        asp-action="MakeRequest"
                                        asp-route-newFriendId=@user.UserId>
                                        <button
                                            type="submit"
                                            class="uk-button uk-button-danger">
                                            Add friend
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="uk-width-1-3@xl">
            <div class="widjet --friend-requests">
                <div class="widjet__head">
                    <h3 class="uk-text-lead">Friend Requests</h3>
                </div>
                <div class="widjet__body">
                    <ul class="friend-requests-list">
                        @foreach (var request in Model.FriendRequests.ReceivedRequests.ReceivedRequests)
                        {
                            var nameToShow = request.FirstName is not null && request.LastName is not null
                                ? $"{request.FirstName} {request.LastName}"
                                : request.UserName;

                            <li class="friend-requests-item">
                                <div class="friend-requests-item__avatar">
                                    <img src="~/img/user-list-5.png" alt="user">
                                </div>
                                <div class="friend-requests-item__name">@nameToShow • request received</div>
                                <div class="friend-requests-item__action">
                                    <form
                                        style="margin-right: 10px"
                                        method="post"
                                        asp-action="ConfirmFriend"
                                        asp-route-newFriendId="@request.UserId">
                                        <button
                                            class=" ico_tick-circle" type="submit"></button>
                                    </form>
                                    <button class="reject ico_trash" type="button"></button>
                                </div>
                            </li>
                        }
                        @foreach (var request in Model.FriendRequests.SentRequests.SentRequests)
                        {
                            var nameToShow = request.FirstName is not null && request.LastName is not null
                                ? $"{request.FirstName} {request.LastName}"
                                : request.UserName;

                            <li class="friend-requests-item">
                                <div class="friend-requests-item__avatar">
                                    <img src="~/img/user-list-4.png" alt="user">
                                </div>
                                <div class="friend-requests-item__name">@nameToShow • request sent</div>
                                <div class="friend-requests-item__action">
                                    <button class="reject ico_trash" type="button"></button>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/libs.js"></script>
    <script src="~/js/main.js"></script>
</main>